body{
    background-color: #2D3242;
    color: white;
    font-family: Helvetica;
    text-align: center;
    display:flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    padding: 10px;
}

.card_container{
    display: flex;
    flex-direction: row;
}

img {
    width: 75%;
}

.card{
    width: 33%;
    margin: 15px;
    padding: 25px;
    border-left: 1px solid #B1D7FE;
    border-right: 1px solid #B1D7FE;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: border 500ms;
}

.card:hover{
    border-top: 1px solid #B1D7FE;
    border-bottom: 1px solid #B1D7FE;
}

@media(max-width: 1030px) {
    h1 {
        background-color: red;
    }

    h2 {
        color: red;
    }

    p {
        font-size: 120%;
    }

    .card_container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 50%;
    }
}

@media(max-width: 530px) {
    h1 {
        background-color: blue;
    }

    p {
        font-size: 150%;
    }

    .card {
        width: 80%;
    }
}